.hero {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('https://images.unsplash.com/photo-1590579491624-f98f36d4c763?q=80&w=3600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  height: 100vh;
}

.heroTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Optional: Center align text content */
}
.heroTitle h1{
  font-size: 5em;
  word-spacing: 1rem;
  color: white;
}

.heroDesc {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  text-align: center; /* Optional: Center align text content */
}

.heroDesc h3, p {
  font-size: 1rem;
  color: white;
}