.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #115c1c;
  padding: 5px 0px;
  position: fixed;
  width: 100vw;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLinks li a {
  font-size: x-large;
  cursor: pointer;
  padding-bottom: 5px;
  color: white;
  font-size: medium;
}

.navLinks li:hover {
    border-bottom: 1px rgb(255, 255, 255) solid;
}

.navbarBtn {
  background-color: #262424;
  font-size: large;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 1.5rem;
  cursor: pointer;
}

.navbarBtn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}