.classroom {
    display: flex;
}

.classroomText {
    padding: 6.5rem 4rem;
    background-color: rgb(237, 229, 212);
    color: black;
}

.classroomText h1{
    font-size: 3.5em;
    width: 50%;
    margin-bottom: 2rem;
}

.classroomText h3{
    font-size: 3em;
    width: 80%;
    margin-bottom: 3rem;
}


.classroom button {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: black;

}

.classroom button:hover {
    color: green;
}

.classroom img {
    width: 60%;
    height: auto;
}

.graduation {
    display: flex;
    background-color: white;
}

.graduation img {
    width: 45%;
    height: auto;
}

.graduationText {
    color: black;
    padding: 6.5rem 6rem;
}

.graduationText h1 {
    font-size: 3em;
    margin-bottom: 2rem;
}

.graduationText span {
    font-size: 2.1em;
    line-height: 2.8rem;
}